/* MadCap Table Style: */

/*<meta conditions="Products.AllProductsPlusDocBible" Version="9" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: Columns2;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	name: Column1;
	id: 0;
	background-image: none;
	background-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 8;
	name: Column2;
	background-image: url('../Images/diagonal_lines.png');
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	background-color: #546c7f;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	name: Row1;
	id: 1;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: Row2;
	type: Manual;
	background-color: #546c7f;
	color: #ffffff;
	font-weight: bold;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #546c7f;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}

mcTableFootStyle
{
	span: 1;
	id: 7;
	name: Footer2;
	background-color: #546c7f;
	color: #ffffff;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-Columns2
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Columns2-Column-Column1
{
	
}

.TableStyle-Columns2-Column-Column2
{
	
}

.TableStyle-Columns2-Head-Header1
{
	
}

.TableStyle-Columns2-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Columns2-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Columns2-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Columns2-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Columns2-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadI-Column2-Header1 p
{
	
}

.TableStyle-Columns2-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Columns2-HeadE-Column2-Header1 p
{
	
}

.TableStyle-Columns2-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Columns2-HeadF-Column2-Header1 p
{
	
}

.TableStyle-Columns2-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadH-Column2-Header1 p
{
	
}

.TableStyle-Columns2-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Columns2-HeadD-Column2-Header1 p
{
	
}

.TableStyle-Columns2-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadC-Column2-Header1 p
{
	
}

.TableStyle-Columns2-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadB-Column2-Header1 p
{
	
}

.TableStyle-Columns2-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadA-Column2-Header1 p
{
	
}

.TableStyle-Columns2-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	background-color: #546c7f;
}

.TableStyle-Columns2-HeadG-Column2-Header1 p
{
	
}

.TableStyle-Columns2-Foot-Footer1
{
	
}

.TableStyle-Columns2-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Columns2-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Columns2-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Columns2-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Columns2-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Columns2-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Columns2-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-FootI-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Columns2-FootE-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Columns2-FootF-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-FootH-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Columns2-FootD-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-FootC-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-FootB-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-FootA-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-FootG-Column2-Footer1 p
{
	
}

.TableStyle-Columns2-Foot-Footer2
{
	
}

.TableStyle-Columns2-FootI-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootI-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootE-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootE-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootF-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootF-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootH-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootH-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootD-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootD-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootC-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootC-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootB-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootB-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootA-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootA-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootG-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootG-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootI-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootI-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootE-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootE-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootF-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootF-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootH-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootH-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootD-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootD-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootC-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootC-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootB-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootB-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootA-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootA-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-FootG-Column2-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Images/diagonal_lines.png');
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Columns2-FootG-Column2-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-Body-Row1
{
	
}

.TableStyle-Columns2-BodyI-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyI-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyE-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Columns2-BodyE-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyF-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyF-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyH-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Columns2-BodyH-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyD-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyD-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyC-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyC-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyB-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Columns2-BodyB-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyA-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyA-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyG-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyG-Column1-Row1 p
{
	
}

.TableStyle-Columns2-BodyI-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyI-Column2-Row1 p
{
	
}

.TableStyle-Columns2-BodyE-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyE-Column2-Row1 p
{
	
}

.TableStyle-Columns2-BodyF-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyF-Column2-Row1 p
{
	
}

.TableStyle-Columns2-BodyH-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyH-Column2-Row1 p
{
	
}

.TableStyle-Columns2-BodyD-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyD-Column2-Row1 p
{
	
}

.TableStyle-Columns2-BodyC-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyC-Column2-Row1 p
{
	
}

.TableStyle-Columns2-BodyB-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyB-Column2-Row1 p
{
	
}

.TableStyle-Columns2-BodyA-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyA-Column2-Row1 p
{
	
}

.TableStyle-Columns2-BodyG-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyG-Column2-Row1 p
{
	
}

.TableStyle-Columns2-Body-Row2
{
	
}

.TableStyle-Columns2-BodyI-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyI-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyE-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Columns2-BodyE-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyF-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyF-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyH-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Columns2-BodyH-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyD-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyD-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyC-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyC-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyB-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Columns2-BodyB-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyA-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyA-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyG-Column1-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
	background-image: none;
}

.TableStyle-Columns2-BodyG-Column1-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyI-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyI-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyE-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyE-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyF-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyF-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyH-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyH-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyD-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyD-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyC-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyC-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyB-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyB-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyA-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyA-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Columns2-BodyG-Column2-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Columns2-BodyG-Column2-Row2 p
{
	color: #ffffff;
	font-weight: bold;
}


