/* MadCap Table Style: */

/*<meta Version="9" conditions="Products.AllProductsPlusDocBible" />*/

@media BlueOnline
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #20b0e6;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media BluePrint
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #20b0e6;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media OrangeOnline
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #f6861f;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media OrangePrint
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #f6861f;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media PulseBlueOnline
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #20b0e6;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media PulseBluePrint
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #20b0e6;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: ReadBookSeeMovie;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #bed230;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	name: Rows;
	id: 1;
	background-color: #000000;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	separator-width: 0px;
}


/* Cell Styles: */
 
@media BlueOnline
{
	.TableStyle-ReadBookSeeMovie
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ReadBookSeeMovie-HeadI-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadE-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadF-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadH-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadD-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadC-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadB-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadA-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadG-Regular-Header1
	{
		background-color: #20b0e6;
	}
}

@media BluePrint
{
	.TableStyle-ReadBookSeeMovie
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ReadBookSeeMovie-HeadI-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadE-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadF-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadH-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadD-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadC-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadB-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadA-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovie-HeadG-Regular-Header1
	{
		background-color: #20b0e6;
	}
}

@media OrangeOnline
{
	.TableStyle-ReadBookSeeMovie
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ReadBookSeeMovie-HeadI-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadE-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadF-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadH-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadD-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadC-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadB-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadA-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadG-Regular-Header1
	{
		background-color: #f6861f;
	}
}

@media OrangePrint
{
	.TableStyle-ReadBookSeeMovie
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ReadBookSeeMovie-HeadI-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadE-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadF-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadH-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadD-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadC-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadB-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadA-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovie-HeadG-Regular-Header1
	{
		background-color: #f6861f;
	}
}

.TableStyle-ReadBookSeeMovie
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-ReadBookSeeMovie-Column-Regular
{
	
}

.TableStyle-ReadBookSeeMovie-Head-Header1
{
	
}

.TableStyle-ReadBookSeeMovie-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovie-HeadI-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ReadBookSeeMovie-HeadE-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ReadBookSeeMovie-HeadF-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovie-HeadH-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ReadBookSeeMovie-HeadD-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovie-HeadC-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovie-HeadB-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovie-HeadA-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovie-HeadG-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovie-Foot-Footer1
{
	
}

.TableStyle-ReadBookSeeMovie-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovie-FootI-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ReadBookSeeMovie-FootE-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ReadBookSeeMovie-FootF-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovie-FootH-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ReadBookSeeMovie-FootD-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovie-FootC-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovie-FootB-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovie-FootA-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovie-FootG-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovie-Body-Rows
{
	
}

.TableStyle-ReadBookSeeMovie-BodyI-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyI-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovie-BodyE-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyE-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovie-BodyF-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyF-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovie-BodyH-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyH-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovie-BodyD-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyD-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovie-BodyC-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyC-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovie-BodyB-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyB-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovie-BodyA-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyA-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovie-BodyG-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
}

.TableStyle-ReadBookSeeMovie-BodyG-Regular-Rows p
{
	
}
