/* MadCap Table Style: */

/*<meta Version="9" conditions="Products.AllProductsPlusDocBible" />*/

@media BlueOnline
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #20b0e6;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media BluePrint
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #20b0e6;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media OrangeOnline
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #f6861f;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media OrangePrint
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #f6861f;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media PulseBlueOnline
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #20b0e6;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media PulseBluePrint
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #20b0e6;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: ReadBookSeeMovieWhiteBackground;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #bed230;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	name: Rows;
	id: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	separator-width: 0px;
}


/* Cell Styles: */
 
@media BlueOnline
{
	.TableStyle-ReadBookSeeMovieWhiteBackground
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadI-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadE-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadF-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadH-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadD-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadC-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadB-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadA-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadG-Regular-Header1
	{
		background-color: #20b0e6;
	}
}

@media BluePrint
{
	.TableStyle-ReadBookSeeMovieWhiteBackground
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadI-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadE-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadF-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadH-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadD-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadC-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadB-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadA-Regular-Header1
	{
		background-color: #20b0e6;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadG-Regular-Header1
	{
		background-color: #20b0e6;
	}
}

@media OrangeOnline
{
	.TableStyle-ReadBookSeeMovieWhiteBackground
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadI-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadE-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadF-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadH-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadD-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadC-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadB-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadA-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadG-Regular-Header1
	{
		background-color: #f6861f;
	}
}

@media OrangePrint
{
	.TableStyle-ReadBookSeeMovieWhiteBackground
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadI-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadE-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadF-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadH-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadD-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadC-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadB-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadA-Regular-Header1
	{
		background-color: #f6861f;
	}

	.TableStyle-ReadBookSeeMovieWhiteBackground-HeadG-Regular-Header1
	{
		background-color: #f6861f;
	}
}

.TableStyle-ReadBookSeeMovieWhiteBackground
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-Column-Regular
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-Head-Header1
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadI-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #bed230;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadE-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadF-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadH-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadD-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadC-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadB-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadA-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-HeadG-Regular-Header1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-Foot-Footer1
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootI-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootE-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootF-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootH-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootD-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootC-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootB-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootA-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-FootG-Regular-Footer1 p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-Body-Rows
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyI-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyI-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyE-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyE-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyF-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyF-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyH-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyH-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyD-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyD-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyC-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyC-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyB-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyB-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyA-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyA-Regular-Rows p
{
	
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyG-Regular-Rows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-ReadBookSeeMovieWhiteBackground-BodyG-Regular-Rows p
{
	
}
