/* MadCap Table Style: */

/*<meta Version="9" conditions="Products.AllProductsPlusDocBible" />*/

mcTableStyle
{
	name: Rows1;
	border-collapse: separate;
	max-id: 4;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #696969;
	color: #ffffff;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	text-align: center;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	background-image: url('../Images/diagonal_lines.png');
}

mcTableBodyStyle
{
	span: 1;
	name: Body2;
	id: 2;
	background-image: url('../Images/diagonal_lines_light.png');
	text-align: center;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Rows1
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Rows1-Column-Column1
{
	
}

.TableStyle-Rows1-Head-Header1
{
	
}

.TableStyle-Rows1-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Rows1-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Rows1-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Rows1-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Rows1-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Rows1-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Rows1-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Rows1-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Rows1-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Rows1-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Rows1-Foot-Footer1
{
	
}

.TableStyle-Rows1-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Rows1-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows1-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows1-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Rows1-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Rows1-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Rows1-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Rows1-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Rows1-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c0c0c0;
}

.TableStyle-Rows1-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Rows1-Body-Body1
{
	
}

.TableStyle-Rows1-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Rows1-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Rows1-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Rows1-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Rows1-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Rows1-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Rows1-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Rows1-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Rows1-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Rows1-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Rows1-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Rows1-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Rows1-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Rows1-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Rows1-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Rows1-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Rows1-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines.png');
}

.TableStyle-Rows1-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Rows1-Body-Body2
{
	
}

.TableStyle-Rows1-BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
}

.TableStyle-Rows1-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Rows1-BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Rows1-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Rows1-BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows1-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Rows1-BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Rows1-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Rows1-BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Rows1-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Rows1-BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
}

.TableStyle-Rows1-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Rows1-BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Rows1-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Rows1-BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
}

.TableStyle-Rows1-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Rows1-BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url('../Images/diagonal_lines_light.png');
}

.TableStyle-Rows1-BodyG-Column1-Body2 p
{
	
}


