<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en" MadCap:ignoredWords="etc.)?;Examples...;FAQs;this.&quot;;CSS;Stylesheets;F;alternative...;F3;F1;F2;C;F4;F6;F7;F8;F9;F10;F12;J;K;P;W;Y;Z;MasterPages;StyleSheet;StyleSheets;(.flmsp;s" MadCap:lastBlockDepth="10" MadCap:lastHeight="1049" MadCap:lastWidth="604" MadCap:conditions="Products.Mimic">
    <head><title></title>
        <link href="../Resources/Stylesheets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:concept term="Templates" />
            <MadCap:keyword term="Templates:creating" />Creating Templates</h1>
        <p>In <MadCap:variable name="Products.Mimic" />, templates can be used for creating collections, movies, and skins. A template is simply an existing file of the same type that you are creating. Therefore, creating a template for future use in <MadCap:variable name="Products.Mimic" /> is just a matter of creating a collection, movie, or skin; providing the settings that you want; and placing it in the proper folder on your computer.</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>how to create a template</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody class="Final">
                <ol>
                    <li>
                        <p>In <MadCap:variable name="Products.Mimic" />, create the collection, movie, or skin that you want to use as a template.</p>
                        <MadCap:dropDown class="SecondLevel">
                            <MadCap:dropDownHead>
                                <MadCap:dropDownHotspot MadCap:conditions="General.OnlineLive">note</MadCap:dropDownHotspot>
                            </MadCap:dropDownHead>
                            <MadCap:dropDownBody class="Final">
                                <p class="note" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #bed230;&quot; class=&quot;mcFormatColor&quot;&gt;Note: &lt;/span&gt;&lt;/b&gt;">Creating a skin in <MadCap:variable name="Products.Mimic" /> is a matter of editing the skin within Mimic and then exporting it to another location. See <MadCap:xref href="../Output/Editing_Skins_Mimic.htm">Editing Skins</MadCap:xref> and <MadCap:xref href="../Output/More_About_Skins_Mimic/Exporting_Skins.htm">Exporting Skins</MadCap:xref>.</p>
                            </MadCap:dropDownBody>
                        </MadCap:dropDown>
                    </li>
                    <li>Add content or settings to the collection, movie, or skin as you normally would. </li>
                    <li value="3">Save the file(s).</li>
                    <li>
                        <p>In Windows, find and copy the collection, movie, or skin folders/files that you created.</p>
                        <MadCap:dropDown class="SecondLevel">
                            <MadCap:dropDownHead>
                                <MadCap:dropDownHotspot MadCap:conditions="General.OnlineLive">note</MadCap:dropDownHotspot>
                            </MadCap:dropDownHead>
                            <MadCap:dropDownBody class="Final">
                                <p class="note" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #bed230;&quot; class=&quot;mcFormatColor&quot;&gt;Note: &lt;/span&gt;&lt;/b&gt;">If creating collection or movie templates, copy the entire folder structure holding the files. If creating a skin template, only the skin file is necessary.</p>
                            </MadCap:dropDownBody>
                        </MadCap:dropDown>
                    </li>
                    <li>
                        <p>In your "Documents" folder, create a subfolder and name it <span class="TypedEntry">My Templates</span>. </p>
                        <p>This subfolder will be used to hold all of the different templates that you create in <MadCap:variable name="Products.Mimic" />, as well as the templates for all other <MadCap:variable name="Other.CompanyName" /> applications.</p>
                        <MadCap:dropDown class="SecondLevel">
                            <MadCap:dropDownHead>
                                <MadCap:dropDownHotspot MadCap:conditions="General.OnlineLive">note</MadCap:dropDownHotspot>
                            </MadCap:dropDownHead>
                            <MadCap:dropDownBody class="Final">
                                <MadCap:snippetBlock src="../Resources/Snippets/Notes/NoteVistaMyDocuments.flsnp" />
                            </MadCap:dropDownBody>
                        </MadCap:dropDown>
                    </li>
                    <li value="6">In the <span class="Emphasis">My Templates</span> folder, create the following subfolders, depending on whether you are storing collections, movies, or skins:<ul class="FirstLevel"><li>For collections, name the subfolder <span class="TypedEntry">Mimic Projects</span></li><li>For movies, name the subfolder <span class="TypedEntry">Mimic Movies</span></li><li>For skins, name the subfolder <span class="TypedEntry">Mimic Skins</span></li></ul></li>
                    <li value="7">Paste your <MadCap:variable name="Products.Mimic" /> collection folder in the "<MadCap:variable name="Products.Mimic" /> Projects" subfolder. Paste your <MadCap:variable name="Products.Mimic" /> movie folder in the "<MadCap:variable name="Products.Mimic" /> Movies" subfolder. Paste your <MadCap:variable name="Products.Mimic" /> skin file in the "<MadCap:variable name="Products.Mimic" /> Skins" subfolder.</li>
                </ol>
                <p>The next time you create a new collection or movie in <MadCap:variable name="Products.Mimic" />, or import a skin, you can select <span class="Emphasis">My Templates</span> in the dialog to display (and select from) the templates that you've created.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
    </body>
</html>